body{
    background: none
}
.nominate{
  background: #4eb2e8;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 10px; 
  border: none;
  margin-top: -2%;
  /*border: 1px solid red;*/

}
form{
     /*border: 1px solid red;*/
}
.information{
    margin-left: 5%;
    margin-top: 0;
}
.nominate:hover{
    cursor: pointer
}
form>div{
    overflow: hidden;
}
form>div>div{
    float: left
}
.release-job-title{
    /*border: 1px solid red;*/
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
form>div>textarea{
    float: left;
    overflow: hidden;
    width: 80%;
    /* margin: 20px 0 0 10%; */
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 5px;
}
.release-job-title2{
    line-height: 80px
}
form>div>select{
    float: left;
    width: 30%;
   margin-left: 5%;
    margin-top: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 44px;
}
#release-job{
    margin-top: 30px;
    border: 1px solid #cccccc;
    border-radius:5px ;
    background: #f8f8f8;
    padding-top :20px;
    padding-left:20px; 
}
.release-job{
    display: none
}
.first-job{
   border-bottom: 2px dashed #ececec;
    /*padding-bottom:10px; */
    padding: 20px 30px 10px 20px
}
.first-job-title{
    display: flex ;
    justify-content: space-between;
    padding-top:15px; 
}
.job-podtions{
   font-size: 18px ;
   color: black
}
.news{
    display: inline-block;
    background: #13fa81 \9;
    background: #13fa81;
    width: 25px;
    height: 25px;
    border-radius:25px;
    text-align: center;
    line-height: 25px;
}
.news>i{
    color: white;
}
.company-name{
    
   font-size: 18px;
   text-align: left;
    /*border: 1px solid black;*/
    width: 30%
}
.salary{
    font-size: 16px;
    color: #47b1d3 \9;
    color: #47b1d3;
}
.first-job-section{
    padding-top:10px; 
}
.first-job-section-text{
  color: black;
}
.job-first-text{
    display: flex;
    justify-content: space-between;
}
.job-first-text2{
   padding: 10px 0 0 0;
}
.little-text>span{
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 5px;
}
#vaite-conent{
    height: 800px;
}
ul{
    /*border: 1px solid red;*/
}