*{
    padding: 0;
    margin: 0;
    font-family: 微软雅黑;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.tixoin{
	color: red;
	text-align: center;
	font-size: 16px;
	/*display: none;*/
}
/*矢量图标引入*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}