.identifying>span{
    float: right;
    padding: 0 0 0 10px ;
    font-size: 10px;
    border-left: 1px solid black;
    color:#50dab1;
    margin-right: 15px;
    margin-top: 15px;
}
.identifying>span:hover{
    color:#60bbd5;
    cursor: pointer;
}
/*验证码*/
.identifying>input{
    width: 50%;
}
.ident-img{
    width: 60px;
    height: 44px;
    margin-left: 14.5px;
   border: 1px solid red ;
       float: right;

}
.yanzh-p{
    width: 60%
}
.return{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-right: 10%;
    margin-top: 10px;
    
}
.return>a{
color: #50dab1;
}